$body-font: 'Source Sans 3', sans-serif;
$accent-font: 'Bungee', sans-serif;

$background-main: #f2f2f2;
$background-img: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");

$header-colour: #6c78ad;
$accent-colour-red: #d11919;
$accent-colour-white: #ffffff;
$text-colour: #545149;
$link-colour: #4056A1;