@import '_variables', '_mixins';

header.userInfo {
  width: 100%;
  height: 520px;
  padding-top: 120px;
  @include vertical-align;
  margin-bottom: 30px;
}

h2 {
  align-self: center;
  margin: 0;
}

/* Smartphones: maximum width of around 420px */

@media only screen and (max-width: 767px) {
  .header-container {
    background-color: $header-colour;
    background-image: $background-img
  }
}

/* Tablet: minimum width of 768px to maximum width of 1024px */

@media only screen and (min-width: 768px) {
  header.userInfo {
    margin: 200px 15px 0 25px;
    padding: 40px;
    background-color: $header-colour;
    background-image: $background-img;
    width: 40vw;
    height: 420px;
  }

  .header-container {
    display: flex;
    width: 40%;
  }
}