header.userInfo {
  display: flex;
  width: 100%;
  height: 520px;
  padding-top: 120px;
  background-color: #6c78ad;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

h2 {
  align-self: center;
  margin: 0;
}