nav {
  display: flex;
  height: 120px;
  width: 100%;
  background: transparent;
  color: #FFFFFF;
  padding: 0em 1.5em;
  justify-content: space-between;
  position: fixed;
}

nav .logo {
  font-family: 'Bungee', sans-serif;
  align-self: end;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

nav .right {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

nav button {
  background: transparent;
  border: 0;
}

nav button:hover {
  font-size: 26px;
}

nav .right h2 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}

nav .right i {
  color: #d11919;
}