.error {
  color: #d11919;
  font-size: 20px;
  font-weight: 600;
  padding: 1.5em 1em;
  border: 3px solid #d11919;
  margin-bottom: 20px;
  display: none;
}

label {
  font-weight: 600;
  color: #545149;
}

#tweet-text {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  background-color: #f2f2f2;
  border: 0;
  border-bottom: 3px solid #545149;
  resize: none;
  font-size: 20px;
  font-weight: 600;
}

div {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  color: #ffffff;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  padding: 2px 10px;
  border: 0;
  margin-top: 20px;
}

button:hover {
  background-color: #d11919;
}

.counter {
  align-self: flex-end;
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
}