article {
  border: 3px solid #545149;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  background-color: #f1f1f1;
}

article:hover {
  box-shadow: 5px 5px #b5b5b5;
}

header {
  display: flex;
  justify-content: space-between;
}

.mini-avatar {
  width: 60px;
  margin-right: 15px;
}

header div {
  align-items: center
}

.handle {
  color: #adacac;
  font-weight: 600;
  font-size: 22px;
  padding-right: 20px;
}

article p {
  border-bottom: 3px solid #545149;
  margin: 10px 0;
  padding: 10px 10px 20px 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

article footer {
  display: flex;
  justify-content: space-between;
  margin: 2px 10px;
  font-size: 16px;
}

footer i {
  color: #4056A1;
  margin: 0 3px;
}

footer i:hover {
  color: #d11919;
  cursor: pointer;
}